democratic-csi:
  csiDriver:
    name: org.democratic-csi.nfs

  storageClasses:
    - name: truenas-nfs
      defaultClass: true
      reclaimPolicy: Retain
      volumeBindingMode: Immediate
      allowVolumeExpansion: true
      parameters:
        fsType: nfs

  driver:
    config:
      driver: freenas-api-nfs

      httpConnection:
        protocol: https
        # TODO: replace with your TrueNAS IP
        host: 192.168.40.4
        port: 443
        allowInsecure: true
        # TODO: inject via ESO ExternalSecret
        apiKey:

      zfs:
        datasetParentName: main/k8s/platform/volumes
        detachedSnapshotsDatasetParentName: main/k8s/platform/snapshots
        datasetProperties:
          org.freenas:description: "{{ parameters.[csi.storage.k8s.io/pvc/namespace] }}/{{ parameters.[csi.storage.k8s.io/pvc/name] }}"

      nfs:
        shareHost: 192.168.40.4
        shareAlldirs: false
        shareAllowedHosts: []
        shareAllowedNetworks:
          - 192.168.40.0/24
        shareMaprootUser: root
        shareMaprootGroup: root
