democratic-csi:
  csiDriver:
    name: org.democratic-csi.nfs

  storageClasses:
    - name: truenas-nfs
      defaultClass: true
      reclaimPolicy: Retain
      volumeBindingMode: Immediate
      allowVolumeExpansion: true
      parameters:
        fsType: nfs

  # Full driver config (host, apiKey, zfs, nfs) comes from Secret "truenas-driver-config",
  # synced by ESO from 1Password (see templates/truenas-driver-config-external-secret.yaml).
  # Chart requires driver.config.driver to be set when using existingConfigSecret.
  driver:
    existingConfigSecret: truenas-driver-config
    config:
      driver: freenas-api-nfs
