argo-cd:
  dex:
    enabled: true
  configs:
    params:
      server.insecure: true
    cm:
      url: https://argocd.platform.the-lab.zone
      dex.config: |
        connectors:
          - type: oidc
            id: authentik
            name: Authentik
            config:
              issuer: https://auth.infra.the-lab.zone/application/o/argocd/
              clientID: argocd
              clientSecret: $argocd-oidc:dex.authentik.clientSecret
              insecureEnableGroups: true
              scopes:
                - openid
                - profile
                - email
                - groups
    rbac:
      # Authenticated users without a matching group get read-only
      policy.default: role:readonly
      # Members of "ArgoCD Admins" group in Authentik get admin role
      policy.csv: |
        g, sre, role:admin
      scopes: "[groups, email]"
