apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: hubble-ui
  namespace: kube-system
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`hubble.platforms.the-lab.zone`)
      kind: Rule
      services:
        - name: hubble-ui
          port: 80
