actions:
  enabled: true

  giteaRootURL: "http://gitea-http.gitea.svc.cluster.local:3000"

  existingSecret: gitea-runner-token
  existingSecretKey: token

  statefulset:
    replicas: 2

    actRunner:
      config:
        runner:
          capacity: 2
          labels:
            - "ubuntu-latest:docker://ghcr.io/catthehacker/ubuntu:act-latest"
            - "ubuntu-22.04:docker://ghcr.io/catthehacker/ubuntu:act-22.04"

    dind:
      repository: docker
      tag: "28.3.3-dind"

    persistence:
      size: 2Gi
      storageClass: truenas-nfs

    resources:
      requests:
        cpu: 200m
        memory: 512Mi
      limits:
        cpu: "2"
        memory: 2Gi
